*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Helvetica;
  
}
.head{
    display: grid;
    background-color: #252323;
    height: 100px;
    border: 1px solid #249749b9;

}
.txt{
    color: white;
    font-family: helvetica;
    display: grid;
    text-align: center;
    font-size: 350%;
    margin-top: 20px;

}
.section {
    width: 400px;
    height: 340px;
    background: #181819;
    margin: auto;
    margin-top: 120px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #249749b9;
    color: white;
    border-radius: 15px;
    

}

.section h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
    border-bottom: 1px solid;
    font-family: helvetica;

}
.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 3%;
}

.controls {
    width: 100%;
    border: 1px solid #d4dbd6;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    color: white;
}

button#boton {
    padding: 10px 145px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: white;
    background-color: #249749b9;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
#boton:hover{
    border: 1px solid white;
}
.section p {
    width: 90px;
    text-align: center;
    border-bottom: 1px solid;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left: 35%;
    margin-top: 15px;
}

.section button {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.section button:hover {
    border: 1px solid white;
}

.registrarse a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
body{
    background-image: url("/ProyectoJsTareas/img/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
h6 {
    display: flex;
    font-size: 15px;
    margin-top: -30px;
}